
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins/";
@import "../bootstrap/scss/utilities";
body{
    line-height: 1.5;
}
input{
    color:  $gray-500;
    border-color: $gray-100;
    border-radius: 4px;
}
input[type=checkbox]:checked{
    position: relative;
}
input[type=checkbox]:checked:before{
    position: absolute;
    top: 0px;
    left: 0;
    content: '✓';
    width: 12px;
    height: 12px;
    border-radius: 3px;
    text-align: center;
    line-height: 12px;
    font-size: 8px;
    color: #fff;
    background-color: $primary;
}
input::placeholder{
    color: $gray-500;
}
label{
    color: $gray-500;
}
select{
    color:  $gray-500;
    border-color: $gray-100;
    border-radius: 4px;
}
section{
    margin-bottom: 60px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
    }
}
nav{
    margin-bottom: 80px;
}
ul, ol{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    line-height: 1.5;
}
.wrap{
    height: calc(100% - 56px);
    margin-top: 56px;
    overflow: auto;
}
.login-min-h{
    min-height: calc(100% - 258px)
}
.ol-inside{
    list-style-position: inside;
    li::marker{
        font-size: $h4-font-size;
        font-weight: bold;
    }
}
.list-style-none{
    list-style: none;
}
.placeholder-gray{
    &::placeholder{
        color: $gray;
    }
}
.visible-hidden{
    position: absolute;
    left: 0;
    overflow: hidden;
    text-indent: -101%;
    z-index: -1;
}
.mb-1s{
    margin-bottom: 2px;
}
.ps-2-5{
    padding-left: 12px;
}
.p-3s{
    padding: 14px;
}
.banner{
    background: url('../img/index1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact{
    height: calc(600px);
    background: url('../img/index10.jpg') no-repeat center;
}
.text-shadow{
    text-shadow: 0.5px 0.5px 1px #000;
}

.bg-white-hover{
    &:hover{
        color: #fff;
        background: rgba(#fff, .1);
    }
}
.bg-black-hover{
    &:hover{
        color: #000;
        background: rgba(#000, .1);
    }
}
.nav-text-gray{
    a{
        color: $gray;
    }
}
.mobile_menu{
    @include media-breakpoint-down(md) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 56px);
        background: rgba($gray, 0.5);
        a{
            border-top: 1px solid #fff;
            color: #fff;
            background: $gray-600;
        }
    }
}
.shopping-num{
    position: absolute;
    top: -30%;
    right: -30%;
}

.card-imgFrame{
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.product{
        height: calc(540px);
    }
    &.productQA{
        height: calc(1080px);
    }
}
.page-style{
    a{
        color: #000;
    }
    .active{
        a{
            color: $secondary;

            &::after{
                border-color: $secondary;
            }
        }
    }
}
.member-title{
    flex: 1;
}
.member-content{
    flex: 6;
}
.member-content-input{
    width: 66.66%;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}
.member-content-select-2{
    width: 30%;
    @include media-breakpoint-down(md){
        width: 66%;
    }
}
.member-content-select-1{
    width: 30%;
    
    & + .member-content-select-1{
        margin-left: 8px;
    }
}
.receive-ms{
    margin-left: calc(100% / 7 + var(--bs-gutter-y) / 2);
    @include media-breakpoint-down(md){
        margin-left: calc(100% / 4 + var(--bs-gutter-y) / 2);
    }
}
.btn-burger{
    &:focus{
        box-shadow: none;
    }
}
.btn-burger-icon{
    width: 32px;
    height: 4px;
    background: $gray;
    border-radius: 2px;
    transition: all .2s ease-in-out;

    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 32px;
        height: 4px;
        background: $gray;
        border-radius: 2px;
        transition: all .2s ease-in-out;
    }
    &::before{
        transform: translate(-16px, -10px);
    }
    &::after{
        transform: translate(-16px, 10px);
    }
}
.btn-burger.open{
    .btn-burger-icon{
        transform: translateX(50px);
        background: transparent;

        &::before{
            transform: rotate(-45deg) translate(-45px, -45px);
        }
        &::after{
            transform: rotate(45deg) translate(-45px, 45px);
        }
    }
}
.btn-arrow{
    color: $gray-800;
    &:hover{
        color: #fff;
        background: $gray-800;
    }
}
.hover-baseline{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 0;
        height: 1.5em;
        border-bottom: 2px solid;
        transition: width .2s ease-in-out;
    }
    &:hover{
        &::after{
            content: '';
            width: 100%;
        }
    }
}
.siteMenu{
    .hover-baseline::after{
        left: 16px;
    }
    .hover-baseline:hover:after{
        width: calc(100% - 32px);
    }
}
.footerMenu{
    .hover-baseline::after{
        left: 30px;
        @include media-breakpoint-down(lg){
            left: 20px;
        }
    }
    .hover-baseline:hover:after{
        width: calc(100% - 60px);
        @include media-breakpoint-down(lg){
            width: calc(100% - 40px);
        }
    }
}
.productMenu{
    .hover-baseline::after{
        left: 14px;
    }
    .hover-baseline:hover:after{
        width: calc(100% - 28px);
    }
}
.hover-gray-baseline{
    &::after{
        border-color: $gray;
    }
}
.hover-primary-baseline{
    &::after{
        border-color: $primary;
    }
}
.hover-secondary-baseline{
    &::after{
        border-color: $secondary;
    }
}
.hover-white-baseline{
    &::after{
        border-color: #fff;
    }
}
.hover-black-baseline{
    &::after{
        border-color: #000;
    }
}
.active{
    a{
        cursor: default;
    }
    .hover-baseline::after{
        content: '';
        width: 100%;
    }
}

@import "../bootstrap/scss/utilities/api";