.menu {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	border-bottom: $menu-border-width solid $menu-border-color;

	&-item {
		padding: $menu-item-padding;
		transition: $menu-transition;
		border-bottom: $menu-item-active-border-width solid transparent;
		cursor: pointer;

		&.disabled {
			color: $menu-item-disabled-color;
			pointer-events: none;
		}

		.sub-menu-title-arrow-icon {
			transition: transform .15s ease-in;
		}

		&.active,
		&:hover {
			color: $menu-item-active-color;
			border-color: $menu-item-active-color;

			.sub-menu-title-arrow-icon {
				transform: rotate(180deg);
			}
		}
	}
	&-vertical {
		flex-direction: column;
		border-bottom: 0px;
		border-right: $menu-border-width solid $menu-border-color;
		width: 160px;

		.menu-item {
			border-bottom: 0px;
			border-left: $menu-item-active-border-width solid transparent;

			&.active,
			&:hover {
				border-color: $menu-item-active-color;

				.sub-menu-title-arrow-icon {
					transform: rotate(0);
				}
			}
			&.opened .sub-menu-title-arrow-icon {
				transform: rotate(180deg);
			}
		}
	}

	&-horizontal {
		.sub-menu {
			position: absolute;
            left: 0;
            top: calc(100% + 2px);
			width: max-content;
			background: $sub-menu-background-color;
			border-radius: $sub-menu-border-radius;
            box-shadow: $sub-menu-box-shadow;

			&-item {
				position: relative;
			}
		}
	}
}

.sub-menu {
	&-title {
		display: flex;
		align-items: center;
		gap: .25rem;
	}

	.menu-item {
		color: $body-color;
		border-left: 0px;
		border-bottom: 0px;

		&:hover,
        &:focus,
        &.active {
            color: $sub-menu-hover-color;
		}

        &.disabled {
            color: $sub-menu-disabled-color;
        }
	}
}
