*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
	color-scheme: dark light;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	background: $body-bg;
	color: $body-color;
}

ol,
ul {
	list-style: none;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
