.upload {
	&-list {
		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			line-height: $upload-list-item-line-height;
			font-size: $upload-list-item-font-size;
			transition: $upload-list-item-transition;
            min-width: 120px;
			gap: 0.25rem;

			&__name {
				display: flex;
				align-items: center;
                gap: 0.125rem;

				&--error {
					color: $upload-list-error-color;
				}
			}

			&__status {
				display: flex;
				align-items: center;
			}

			&__action {
				display: none;
				cursor: pointer;
			}

			&:hover &__status {
				display: none;
			}

			&:hover &__action {
				display: flex;
				align-items: center;
			}
		}
	}
	&-dragger {
		border: $dragger-border-width dashed $dragger-border-color;
		border-radius: $dragger-border-radius;

		&.is-dragover {
			border-color: $dragger-over-border-color;
		}
	}
}
