// color
$primary:       #916000;
$product-icon:  #916019;//info
$secondary:     #AC8A46;
$light:         #fff;
$bg-dark:       #E0E0E0;//dark
$input-border:  #CED4DA;//100
$member-prompt: #A5A5A5;//200
$font-gray:     #8D8D8D;//300
$member-menu:   #848484;//400
$info-text:     #818A91;//500
$bg-mobileMenu: #707070;//600
$input-text:    #495057;//700
$inc-dec:       #373A3C;//800
$login-label:   #212529;//900
$dark:          #000;

// img
$logo:          'https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png';
$logo-white:    'https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png';
$banner-img:    '../img/index1.jpg';
$contact-img:   '../img/index10.jpg';

// container max-width
$desktop-width: 1140px;
$pad-width:     960px;
$mobile-width:  720px;

// font-size
$h1-font-size:  2.5rem;
$h2-font-size:  2rem;
$h3-font-size:  1.75rem;
$h4-font-size:  1.5rem;
$h5-font-size:  1.25rem;
$h6-font-size:  1rem; 

// font-famiyu
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto&display=swap');
$font-family:   "Ping Fang TC","SF Pro Text","Noto Sans TC","Roboto";