html, body{
    height: 100%;
    overflow-y: hidden;
    line-height: 1.5;
}
.wrap{
    height: calc(100% - 56px);
    margin-top: 56px;
    overflow: auto;
}
.header{
    background: #fff;
    position: fixed;
    line-height: 1;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .logo{
        padding-top: 9px;
        padding-bottom: 9px;
    }
    
}