.btn{
    display: inline-block;
    padding: 8px 16px;
    color: $dark;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: $h6-font-size;
    border: 1px solid $dark;
    border-radius: 4px;
    background: transparent;

    &-primary{
        border-color: $primary;
        background: $primary;
        color: #fff;

        &:hover{
            background: darken($primary, 10%);
        }
    }

    &-outline{
        &-primary{
            border-color: $primary;
            color: $primary;

            &:hover{
                background-color: $primary;
                color: #fff;
            }
        }
        &-light{
            color: $light;
            border-color: $light;

            &:hover{
                background: rgba($color: $light, $alpha: 0.1);
            }
        }
        &-dark{
            &:hover{
                background: rgba($color: $dark, $alpha: 0.1);
            }
        }
    }
}