.nav{
    display: flex;
    list-style: none;

    a{
        display: flex;
        align-items: center;
        font-size: $h5-font-size;
        color: $font-gray;
        position: relative;

        // 底線動態出現效果
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 0;
            height: 2px;
            background: $font-gray;
            transition: width .2s ease-in-out;
        }
        &:hover{
            &::after{
                content: '';
                width: 100%;
            }
        }
    }
}