.contact{
    background: url($contact-img) no-repeat center;
    height: 600px;
    display: block;
    >div{
        height: 100%;
    }
    &Form{
        margin-bottom: 112px;
        max-width: 350px;
        width: 100%;
        label{
            display: inline-block;
            font-size: $h2-font-size;
            font-weight: bold;
            color: $font-gray;
            margin-bottom: 20px;
        }
        input{
            line-height: 60px;
            font-size: $h6-font-size;
            border: 2px solid $primary;
        }
        &-email{
            padding: 0;
            width: 62.5%;
            padding-left: 16px;
            border-radius: 4px 0 0 4px;
        
            &::placeholder{
                color: $font-gray;
            }
        }
        &-btn{
            padding: 0;
            width: 37.5%;
            background: $primary;
            color: #fff;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
        
            &:hover{
                background: darken($primary, 10%);
                border-color: darken($primary, 10%);
            }
        }
    }
}